.registerImage{
    height:50%;
    width: 50%;
}

.register_container{
    height: 70vh;
}

.registerView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

.custom-file-upload, 
.box input[type="email"], 
.box input[type="number"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #4C269A;
    padding: 5px 5px;
    width: 250px;
    outline: none;
    color: #191C32;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}
