.memberContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;

}
.memberBlock {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #E4D7FF;
    width: 600px;
    padding: 10px;
    max-width: 85vw;
    height: 30vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 2vh;
    border: 2px solid #4C269A;

}
